[Desktop Entry]
Version=1.0
Name=Galaxy
Comment=NZGL Galaxy Server
Terminal=false
Exec=/usr/bin/firefox https://galaxy.nzgenomics.co.nz
Icon=applications-internet
Type=Application
MimeType=application/x-executable;
Categories=Science;Bioinformatics;
