config_opts['root'] = 'nzgl'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install bash bzip2 coreutils cpio diffutils epel-release findutils gawk gcc gcc-c++ grep gzip info make patch redhat-rpm-config rpm-build sed shadow-utils tar unzip util-linux-ng which xz'
config_opts['dist'] = 'el6'  # only useful for --resultdir variable subst
config_opts['macros']['%dist'] = '.el6.nzgl'
config_opts['macros']['%vendor'] = 'Biomatters'
config_opts['buildgroup'] = 'build'
config_opts['chrootuser'] = 'build'
config_opts['chrootgroup'] = 'build'

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=2
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

[base]
name=CentOS-6 - Base
baseurl=http://packages.genomics.local/mirrors/CentOS/6/os/x86_64/
#baseurl=http://ucmirror.canterbury.ac.nz/linux/centos/6/os/x86_64/
#baseurl=http://mirrors.biomatters.com/mirrors/CentOS/6/os/x86_64/
enabled=1

[updates]
name=CentOS-6 - Updates
baseurl=http://packages.genomics.local/mirrors/CentOS/6/updates/x86_64/
#baseurl=http://ucmirror.canterbury.ac.nz/linux/centos/6/updates/x86_64/
#baseurl=http://mirrors.biomatters.com/mirrors/CentOS/6/updates/x86_64/
enabled=1

[nzgl-stable]
name=NZGL packages for Enterprise Linux 6 (Stable)
baseurl=http://packages.genomics.local/nzgl-stable
enabled=1

"""
